body {
    font-family: arial, serif;
    background-color: #DCD7C9;
}

#headline {
    display: flex; 
    justify-content: left;
    align-items: left;
    font-size: 3vw; 
    font-weight: bold;
    border-bottom: 1px solid gray;  
    background-color: #A27b5c;
    padding: 20px;
}

#top-links{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 2vw;  
    flex-grow: 1;
    column-gap: 30px;
    background-color: #A27b5c;
    top: 0;
    margin-bottom: 5px;
}

#top-links a,
#top-links a:link,
a:visited,
#top-links a:active,
#top-links a:focus {
    text-decoration: none; 
    color: #000000;           
}

#top-links a:hover{
    color: #dcd7c9;
    font-size: 1.2em;
}

#top-links a:focus {
    outline: 3px solid rgba(0,0,0,0.15);
    outline-offset: 3px;
}

p {
    font-size: 16px;
}

h1 {
    font-size: 10vw;
    font-weight: bold;
    margin-top: 10px;
}

h2 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
}

#bilder {
position: relative;
}

#bergenby {
    width: 100%;
    height: 800px;
    object-fit: cover;
}

#Title {
    font-family:'Times New Roman', Times, serif;
    color:#282828;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
    z-index: 1;
    background-color: rgba(220,215,201,0.5)
}

#conteiner{
    display: grid;
    margin: 0 auto;
    width: 60%;
    height: 60%;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas:
                       "a a b b"
                       "a a b b"
                       "a a b b"
                       "c c d d"
                       "c c d d"
                       "c c d d"
                       "e e f f"
                       "e e f f"
                       "e e f f";
}
#conteiner > div {
  background-color: #aac9c6;
  border: 1px solid black;
}
#a   { grid-area : a; }
#b   { grid-area : b; }
#c   { grid-area : c; }
#d   { grid-area : d; }
#e   { grid-area : e; }
#f   { grid-area : f; }


#a,
#b,
#c,
#d,
#e,
#f {
    padding: 10px;
    margin: 20px;
    background-color: rgba(194, 225, 243,0.2);
    text-align: center;
    font-size: 18px;
    border: solid black 1px;
    border-radius: 10px;

}

#protreter{
  max-width: 100%;
  width: 300px;
  height: auto;
}

#content { 
    text-align: center;
}

#logo {
    width: 100px; 
    height: auto;
}

#containerBackdrop {
    text-align: center; 
    background-color: brown; 
    margin: 60px; 
    padding: 20px; 
    border-radius: 10px;
}

#undertitle {
    text-align: center; 
    margin: 60px; 
    background-color: brown;  
    padding: 20px; 
    border-radius: 10px;
}

#a1{
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    text-align: center;
}

#a2{
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    text-align: center
}

#a3{
    grid-column: 1/2;
    grid-row: 2 / 2;
    text-align: center
}

#a4{
    grid-column: 2 /2;
    grid-row: 2 / 2;
    text-align: center;
}

#a5{
    grid-column: 1 / 2;
    grid-row: 3 / 3;
    text-align: center;
}

#a6{
    grid-column: 2 / 2;
    grid-row: 3 / 3;
    text-align: center;
}

#a7{
    grid-column: 1 / 2;
    grid-row: 4 / 4;
    text-align: center;
}

#a8{
    grid-column: 2 / 2;
    grid-row: 4 / 4;
    text-align: center;
}

#a9{
    grid-column: 1 / 2;
    grid-row: 5 / 5;
    text-align: center;
}

#a10{
    grid-column: 2 / 2;
    grid-row: 5 / 5;
    text-align: center;
}

#madConteiner {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 10px; 
    column-gap: 20px;
}