:root {
    --Evergreen: #152614;
    --SoftPeach: #E1CA96;
    --Ebony: #626C66;
    --DrySage: #ACA885;
    --GreyOlive: #918B76;
    --CharcoalBrown: #434A42;
}
.topp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background-color: var(--Evergreen);
    border-radius: 12px;
    position: sticky;
    top: 10px;
    z-index: 10;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.navn {
    font-size: 24px;
    font-weight: bold;
    color: var(--SoftPeach);
    text-decoration: none;
}

.topp nav {
    display: flex;
    gap: ;
}
.topp a {
    color: white;
    text-decoration: none;
}
.topp nav a:hover {
    color: var(--SoftPeach);
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: linear-gradient(var(--CharcoalBrown), var(--Ebony));
    color: white;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
}

h1 {
    color: var(--SoftPeach);
    text-align: center;
    text-shadow: 2px 2px 0 var(--Evergreen);
}

h2 {
    color: var(--SoftPeach);
    border-bottom: 2px solid var(--DrySage);
    padding-bottom: 5px;
}
.tabell_Film {
    border-collapse:collapse;
    width: 100%;
    margin-top: 30px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.tabell_Film td,
.tabell_Film {
    padding: 12px 16px;
    text-align: left;
}

.tabell_Film th {
    background-color: var(--SoftPeach);
    color: var(--Evergreen)
}

.tabell_Film tbody tr{
    background-color: var(--Evergreen);
}

.tabell_Film tbody tr:nth-child(even) {
    background-color: var(--Ebony);
}

.tabell_Film tbody tr:hover {
    background-color: var(--GreyOlive)
}
                                            