html{
   background: linear-gradient(300deg, #162d0d, #c0c0c0, #000000);
    background-size: 4000% 4000%;
    animation: gradient 8s ease infinite;
}

body {
  margin: 0;
}
@keyframes gradient {
    0% {
        background-position: 0% 10% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 50% 10% 0%;
    }
}
.container{
  display: flex;
}

#head, #main, #musikk, #film, #tilbake {
    backdrop-filter: blur(5px);
     padding: 20px;
     margin: 30px;
     font-weight: bold;
     background-color: rgba(255, 255, 255, 0.4);
     color: black;
     text-shadow: 2px 2px 39px;
     border-radius:5px;
     border-style:ridge;
}

li {
	margin: 0;
	padding: 36px 0 36px 84px;
	list-style: none;
	background-image: url("mads-punkter.png");
	background-position: left center;
	background-size: 40px;
    background-repeat: no-repeat;
}

.album {
    width: 200px;
    height: 200px;
    object-fit: fill;
    border: 1.5px;
    border-style: solid;
    float: right;
}

.albumbody {
    flex-direction: column;
    font-size: 20px;
}

#musikk, #film {
    column-gap: 40px;
}

#head {
    text-align: center;
    text-transform: uppercase;
    font-family: Papyrus, fantasy;
    font-size: 2rem;

}

#tilbake {
    float: left;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px 18px;
    font-size: 1rem;
    text-decoration: none;
}

#tilbake:hover {
    background: linear-gradient(350deg, red, #c0c0c0, #000000);
    background-size: 40% 40%;
    animation: gradient 3s ease infinite;
}
